*{
  margin:0;
  padding: 0;
}
body{
  overflow-x: hidden;
  overflow-y: scroll;

}
.header
{
  background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(Img/Bk.jpg);
  background-size:cover;
  height: 100vh;
  background-position: center;
}
.hero-text
{
  color: white;
  text-transform: uppercase;
  margin-bottom: 90px;
}
.btn{
  padding: 10px 30px;
  border:1px solid #e67e22;
  margin: 10px;
  color:white;
  border-radius: 5px;
  transition: all 0.5s ease-in;
}
.btn:hover
{
  background-color: #e67e11;
  color: white;
}
.header img
{
  margin: 40px;

}
.fas
{
  margin: 0px 5px;
}
.navbar-light .navbar-brand
{
  color:lightgrey;
}
.navbar-light .navbar-toggler-icon
{
  background-color: lightgrey;
}


.navbar-nav .nav-item
{
  padding: 5px;
  margin: 5px;

}
.navbar-nav .nav-item a
{
  color: lightgrey;
}
.navbar-nav .nav-item a:hover
{
  color: grey;
  text-decoration: none;
}
.navbar-custom:hover
{
  color:white;
}
.contact h1:after
{
  content:"";
  width:120px;
  height:2px;
  background-color: #e67e22;
  position: absolute;
  bottom: -60px;
  margin-left: -150px;
}
.contact h1
{
  margin: 10px;
}
